@import 'library';
@import 'vendor/fontawesome/font-awesome';

.fa
{
    font-size: 64pt;
    line-height: 90%;
    transition: $transition;
    color: #000;
}

body
{
    margin: 0;
    padding: 0;

    text-align: center;

    background-color: rgb(33, 224, 167);
    background-image: url('../img/bk.png');
    background-repeat: no-repeat;
    background-position: 60% -182px;
    -webkit-transition: 1000ms;
            transition: 1000ms;
}

::selection
{
  background-color: $chartreuse;
  color: #000;
}

img
{
    border: none;

    &:focus
    {
        border: none;
        outline: none;
    }
}

a,
a:link,
a:hover,
a:visited,
a:active
{
    text-decoration: none;

    color: #000;
    border: none;
}

a:focus
{
    border: none;
    outline: none;
}

em
{
    font-weight: bold;
    font-style: normal;
}

input[type='button']
{
    font: 700 10pt $f_sans;

    display: block;

    padding: 4px;

    cursor: pointer;
    -webkit-transition: $transition;
            transition: $transition;

    color: #000;
    border: none;
    background-color: $chartreuse;
    &:hover
    {
        background-color: #00e4d3;
    }
}

h1
{
    font: 300 40pt $f_sans;

    display: block;

    margin: 100px auto 17px;

    text-transform: uppercase;

    color: #fff;
}

.ND
{
    display: none;
}

#logo
{
    position: absolute;
    top: 0;
    left: 0;
}

#return
{
    position: absolute;
    top: -80px;
    right: 0;
}

/* ------------------------------ Box 01 ------------------------------ */

#mainBox
{
    margin-top: 50px;


    .element
    {
        display: inline-block;

        width: 150px;
        margin: 40px;

        cursor: pointer;
        vertical-align: top;

        *display: inline;
        *zoom: 1;
        transition: $transition;

        &:hover
        {
            color: #fff;
        }
    }

    h3
    {
        font: bold 12pt $f_sans;
        display: block;
        transition: $transition;
        color: #000;
    }
}

/* ------------------------------ Box 02 ------------------------------ */

h2.bx2
{
    font: normal 25pt $f_pacifico;

    display: none;

    margin: -35px auto 60px;

    color: $mustard;
}

#rulerBox
{
    font: normal 52pt $f_sans;

    display: none;

    margin: 20px auto 60px;

    color: #000;

    em
    {
        -webkit-transition: $transition;
                transition: $transition;

        color: #fff;
        &:hover
        {
            color: #777;
        }
    }

    p
    {
        line-height: 1;
        margin: 10px 0;
    }
}

/* ------------------------------ Box 03 ------------------------------ */

h2.bx3
{
    font: normal 25pt $f_mono;

    display: none;

    margin: -20px auto 60px;

    color: $aqua;
}

#asciiBox
{
    display: none;


    .element
    {
        display: inline-block;

        width: 170px;
        height: 170px;
        margin: 40px;

        -webkit-transition: $transition;
                transition: $transition;
        vertical-align: top;

        color: #333;
        background-color: #666;

        *display: inline;
        *zoom: 1;

        &:hover
        {
            -webkit-transition: $transition;
                    transition: $transition;

            color: #fff;
        }

        &:hover > .tit
        {
            -webkit-transition: $transition;
                    transition: $transition;

            color: #fff;
        }

        h3
        {
            font: bold 70pt $f_sans;

            display: block;

            margin: 10px auto -23px;

            -webkit-transition: $transition;
                    transition: $transition;

            color: #333;
        }
        h4
        {
            font: normal 12pt $f_sans;
        }
    }

    .special
    {
        font-size: 30pt !important;

        margin: 40px auto 15px !important;
    }

    .empty
    {
        background-color: #ddd !important;
    }

    hr
    {
        width: 80%;
        margin: 10px auto;

        border: 2px solid #333;
    }
}

/* ------------------------- Media Query ------------------------- */

@media screen and (max-width: 500px)
{

	#rulerBox
	{
        font-size: 32pt;
	}
    
    h2.bx2
    {
        text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.4);
    }
}