- var pageTitle = "MainFront"
- var site = "Miguel Rivas"
- var fbPreview = "https://miguel-rivas.github.io/img/pv_mainfront.png"
- var icoPath = "https://miguel-rivas.github.io/img/favicon.png"
- var icoBackground = "#222"
- var description = "Frontend Developer Tools"
- var viewPort = true